APP_NAME="Laravel Shaarli"
# "production" or "local"
APP_ENV=local
# generated with: php artisan key:generate
APP_KEY=
# set debug to false in production
APP_DEBUG=true
APP_URL=http://dev.shaarli
APP_TIMEZONE=Europe/Paris
# "en", "fr", "de" or "ja"
APP_LANG=en

# others drivers such as "sqlite" are not supported
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

# "file" or "redis" (if configured)
CACHE_DRIVER=file
# "sync" (local), "database" or "redis" (if configured)
QUEUE_CONNECTION=sync
# "file" or "redis" (if configured)
SESSION_DRIVER=file
SESSION_LIFETIME=120
# "gd" or "imagick" (user in albums)
IMAGE_DRIVER=gd

# optional
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# "sendmail" or "smtp"
MAIL_DRIVER=sendmail
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="Laravel Shaarli"

# replace 'default-salt' with a random string
HASHIDS_SALT=default-salt
HASHIDS_MIN_LENGTH=10

# "local" or "ftp"
BACKUP_DRIVER=local
# leave BACKUP_* empty if you're using the "local" driver
BACKUP_HOST=ftp.example.com
BACKUP_PORT=21
BACKUP_USERNAME=
BACKUP_PASSWORD=
BACKUP_TIMEOUT=60
BACKUP_SSL=false
