/node_modules
/public/hot
/public/storage
/storage/*.json
/storage/*.key
/storage/*.index
/storage/medialibrary
/vendor
.env
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
