/node_modules
/public/hot
/public/storage
/storage/*.json
/storage/*.key
/storage/*.index
/storage/medialibrary
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.override.yml
