.multiselect__tags {
    border-color: #ced4da;
    border-radius: 1rem;

    .multiselect__tag {
        margin-bottom: 0;
    }
}

.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
    transition: transform 0s;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}
