
#network {
    position: fixed;
    z-index: 1;
    bottom: -2rem;
    width: 100%;
    padding: .5rem 0;
    background-color: $danger;
    text-align: center;
    color: white;
    font-size: .8rem;
    line-height: 1rem;
    transition: bottom .2s ease-in-out;

    &.offline {
        bottom: 0;
    }

    i.fa {
        font-size: .8rem;
        line-height: 1rem;
    }
}

.nav-wall {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: $card-spacer-y $card-spacer-x;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    h1 {
        display: inline-block;
        width: auto;
        margin: 0 1rem 0 0;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        a {
            font-size: 1rem;
            line-height: 1rem;
            display: inline-block;
            padding: .25rem .5rem;
            margin-right: .5rem;
            border-radius: $border-radius;

            &:hover,
            &:focus,
            &.active {
                background-color: $primary;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.multiselect__tags {
    border-color: #ced4da;
    border-radius: 1rem;

    .multiselect__tag {
        margin-bottom: 0;
    }
}

.flip-list-move {
    transition: transform 0.5s;
}
.no-move {
    transition: transform 0s;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.card--comments {
    .badge {
        line-height: $line-height-base;
    }

    div.comment + div,
    div + div.replies {
        padding-left: 20px;
    }

    div.comment {
        margin-bottom: 1em;
    }
}
