body.dark {
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  filter: hue-rotate(180deg) invert(1);

  img,
  video,
  iframe {
    filter: hue-rotate(180deg) invert(1);
  }
}