@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap&subset=cyrillic,hebrew,latin-ext');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~tui-editor/dist/tui-editor.css';
@import '~codemirror/lib/codemirror.css';
@import '~highlight.js/styles/github.css';
@import "dark";

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav.navbar,
.list-group {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: $box-shadow-sm;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    > nav.navbar {
        padding: 1rem;

        .dropdown-menu {
            box-shadow: $box-shadow-lg;
            z-index: 1600;
        }

        #search {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;

            .results {
                box-shadow: $box-shadow-lg;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 10px;
                padding-left: 0;
                padding-right: 0;

                .results {
                    width: 100%;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            ul.navbar-nav li.dropdown > a {
                text-align: right
            }
        }
    }

    > main {
        flex-grow: 2
    }

    > footer {
        width: 100%;
        background-color: rgba(255, 255, 255, .9);
        box-shadow: $box-shadow-sm;
        padding: 1rem;
    }
}

.card {
    box-shadow: $box-shadow-sm;

    .card-header {
        border-bottom: none
    }

    .card-footer {
        border-top: none
    }
}

.card-columns {
    &.column-1 { column-count: 1 }
    &.column-2 { column-count: 2 }
    &.column-3 { column-count: 3 }
    &.column-4 { column-count: 4 }

    @include media-breakpoint-down(sm) {
        &.column-2 { column-count: 1 }
        &.column-3 { column-count: 1 }
        &.column-4 { column-count: 1 }
    }

    @include media-breakpoint-only(md) {
        &.column-3 { column-count: 2 }
        &.column-4 { column-count: 2 }
    }

    @include media-breakpoint-only(lg) {
        &.column-4 { column-count: 3 }
    }

    &.compact {
        .card-content,
        .card-preview {
            display: none
        }
    }
}

.card-preview {
    .responsive-preview {
        overflow: hidden;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.card--link,
.card--story,
.card--chest {
    h5.card-title {
        span {
            text-transform: uppercase
        }
    }
}

