@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~tui-editor/dist/tui-editor.css';
@import '~codemirror/lib/codemirror.css';
@import '~highlight.js/styles/github.css';
@import '~filepond/dist/filepond.min.css';
@import 'components';
@import 'dark';

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #dad4ec 0%, #f3e7e9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.list-group {
    background-color: transparent;
    box-shadow: $box-shadow;
    border-radius: 1rem;
    border-color: transparent;

    .list-group-item {
        border: none;
    }
}

.dropdown-menu {
    box-shadow: $box-shadow;
    z-index: 1600;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    > main {
        flex-grow: 2
    }

    > footer {
        width: 100%;
        background-color: rgba(255, 255, 255, .9);
        box-shadow: $box-shadow;
        padding: 1.5rem 1rem;
    }
}

#nav {
    padding: 1.5rem 1rem;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: $box-shadow;

    > .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        display: flex;
        flex-flow: row nowrap;

        img {
            max-height: 30px;
            width: auto;
            margin-right: 10px;
        }

        .fa-stack {
            height: 1em;
            width: 1em;
            line-height: 1em;

            .fa-stack-2x {
                font-size: 1em;
            }

            .fa-stack-1x {
                font-size: .5em;
            }
        }
    }

    #search {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;

        div.search-input-wrapper {
            position: relative;
            width: 100%;
            min-width: 100%;

            input {
                width: 100%;
                min-width: 100%;
            }

            .badge,
            .spinner-border {
                position: absolute;
                right: 1rem;
                top: .75rem;
            }
        }

        .results {
            display: none;
            z-index: 500;
            position: absolute;
            top: 40px;
            width: calc(100% - 2rem);
            box-shadow: $box-shadow;

            &.active {
                display: block;
            }

            .list-group-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                div:first-child {
                    > span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    ul.navbar-nav {
        li.dropdown > a {
            &:after {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .navbar-brand {
            img {
                margin-right: 0;
            }
        }

        #search {
            position: static;
            margin-top: 0;
            margin-right: 1rem;
            padding-left: 0;
            padding-right: 0;

            .results {
                top: 70px;
                width: auto;
                left: 5px;
                right: 5px;
            }
        }

        ul.navbar-nav {
            li.dropdown > a {
                text-align: center;
            }

            .dropdown-menu {
                position: absolute;
            }
        }
    }
}

.card {
    box-shadow: $box-shadow;

    .card-header {
        border-bottom: none
    }

    .card-footer {
        border-top: none
    }
}

.cards {
    &.compact {
        .card-content,
        .card-preview {
            display: none
        }
    }
}

.card-preview {
    .responsive-preview {
        overflow: hidden;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.card--link,
.card--story,
.card--chest,
.card--album {
    h5.card-title {
        span {
            text-transform: uppercase
        }
    }
}
