@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap&subset=cyrillic,hebrew,latin-ext');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~mavon-editor/dist/css/index.css';
@import "dark";

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav.navbar,
.list-group {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: $box-shadow-sm;
}

.card {
    box-shadow: $box-shadow-sm;

    .card-header {
        border-bottom: none;
    }

    .card-footer {
        border-top: none;
    }
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    > nav.navbar {
        padding: 1rem;

        .dropdown-menu {
            box-shadow: $box-shadow-lg;
            z-index: 1600;
        }

        #search {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;

            .results {
                box-shadow: $box-shadow-lg;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 10px;
                padding-left: 0;
                padding-right: 0;

                .results {
                    width: 100%;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            ul.navbar-nav li.dropdown > a {
                text-align: right;
            }
        }
    }

    > main {
        flex-grow: 2;
    }

    > footer {
        width: 100%;
        background-color: rgba(255, 255, 255, .9);
        box-shadow: $box-shadow-sm;
        padding: 1rem;
    }
}

.home {
    &.alt {
        .card-columns {
            column-count: 2;

            @include media-breakpoint-down(sm) {
                column-count: 1;
            }
        }
    }
}

.card-preview {
    iframe {
        display: inline-block;
        margin: 0 auto !important;
        max-width: 100% !important;
        width: 100%;
        height: auto;
    }
}

.card--link,
.card--story,
.card--chest {
    h5.card-title {
        span {
            text-transform: uppercase;
        }
    }
}

